body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(50, 71, 71);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(243, 236, 236);
}
.signup-login-form {
  /* border: 4px solid red; */
  /* width: 500px; */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ebe0e0;
}

.signup-login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
.header {
  background: linear-gradient(to bottom right, #333300 0%, #663300 100%);
  color: aliceblue;
}
.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header-left div {
  border-radius: 5px;
}

.header-right {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbar {
  margin-top: 5px;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #333300 0%, #663300 100%);
}
.navbar-list {
  color: aliceblue;
  cursor: pointer;
}
.appshell {
  width: 80%;
  margin-left: 100px;
  /* border: 1px solid black;
  border-radius: 5px rgb(236, 142, 1); */
}
.simplegrid div {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(207, 195, 22);
  border-radius: 5px;
  height: 30vh;
  
}
.simplegrid :hover {
  background-color: rgb(202, 190, 17);
 
}
.simplegrid div:hover{
  box-shadow: rgba(202, 190, 17, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
/* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

/* .signup-login-form label {
  border: 1px solid red;
  
  display: block;
  margin-bottom: 10px;
  margin-left: 20px;
} */

/* .signup-login-form input[type="text"],
.signup-login-form input[type="password"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
} */

/* .signup-login-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
} */

/* .signup-login-form button[type="submit"]:hover {
  background-color: #45a049;
} */
.error-message {
  color: red;
  font-size: 12px;
  font-weight: bold;
}
